.st-emotion-cache-q8sbsg p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 25px;
}

.st-emotion-cache-1xarl3l {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
}

.st-emotion-cache-1wivap2.e1i5pmia3{
    font-size: 20px;
}
